     
      <!-- icon media social -->
      <div class="container text-dark card d-flex flex-row justify-content-center">

        <div class="icon icon_fb d-flex align-items-center justify-content-center">
          <span><i class="fa-brands fa-facebook-f"></i></span>
          <span><a href="https://www.facebook.com"></a></span>
        </div>
        <div class="icon icon_tw d-flex align-items-center justify-content-center">
          <span><i class="fa-brands fa-twitter"></i></span>
          <span><a href="https://twitter.com"></a></span>
        </div>
        <div class="icon icon_it d-flex align-items-center justify-content-center">
          <span><i class="fa-brands fa-instagram"></i></span>
          <span><a href="https://www.instagram.com"></a></span>
        </div>
        <div class="icon icon_gh d-flex align-items-center justify-content-center">
          <span><i class="fa-brands fa-github"></i></span>
          <span><a href="https://github.com"></a></span>
        </div>
        <div class="icon icon_gl d-flex align-items-center justify-content-center">
          <span><i class="fa-brands fa-gitlab"></i></span>
          <span><a href="https://gitlab.com"></a></span>
        </div>
        <div class="icon icone icon_yt d-flex align-items-center justify-content-center">
          <span><i class="fa-brands fa-youtube"></i></span>
          <span><a href="https://www.youtube.com/"></a></span>
        </div>
        
      </div> 