
      <!-------------------------------------------------------- Bas de Page ------------------------------------------------------------------>

    <div class="container-fluid  fixed-bottom bg text-white ">

      <footer class="container">
        <div class="row d-flex flex-row justify-content-start">
          <div class="col-12 ">
            <div class="d-flex flex-column flex-sm-row justify-content-start align-items-center">
              <!-- copyright -->
              <div>
                <p class="mb-1 mt-1">&copy; By E-LoGame</p>
                <?php include("./html/components/social_media.html"); ?>
              </div>
            </div>
          </div>
        </div>
      </footer>

    </div>